﻿body {
    font-family: 'Lato' !important;
}

.quitPadH {
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
    color: rgba(0,0,0,0.6);
    /*color: white;*/
}

.marApRe {
    margin-right: 10px;
}

.centrar {
    text-align: center !important;
}



.marB {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info {
    margin-left: 25px;
    width: 45%;
    float: left;
}

.boxshadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(77,75,77,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(77,75,77,1);
    box-shadow: 0px 0px 10px 2px rgba(77,75,77,1);
}

.padding {
    padding: 40px 10px 60px 10px;
}

.borderR {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.info_ord {
    background: #2d75c2;
    color: #fff;
    margin-bottom: 7px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(77,75,77,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(77,75,77,1);
    box-shadow: 0px 4px 0px 0px rgba(77,75,77,1);
}

.r {
    width: 200px;
    margin: 2px;
}

#headerP {
    color: rgba(0,0,0,.6);
}

.Csearch_panel {
    margin-top: 25px;
    padding: 18px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(173,168,173,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(173,168,173,1);
    box-shadow: 0px 0px 10px 3px rgba(173,168,173,1);
    color: rgba(20,118,184,1);
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid #000000;
}

#search_panel {
    min-height: 200px;
}

.MTop {
    margin-top: 17px;
}

.colorHeader {
    background: #005187 !important;
}

.quitmarginbottom {
    margin-bottom: 0px !important;
    border-color: transparent !important;
    background-color: transparent;
}

.quitarpadd-iz-der {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.backgroundConten-nav {
    background-color: #222;
    border-color: #080808;
}

.contenedor-Menu {
    background: rgba(54,54,54,1);
    background: -moz-linear-gradient(top, rgba(54,54,54,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,54,54,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(54,54,54,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(54,54,54,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(54,54,54,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(54,54,54,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(89,89,89,1) 0%, rgba(71,71,71,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#000000', GradientType=0 );
    border-bottom: 3px solid #2d75c2;
}

section {
    min-height: 500px;
}

footer {
    background: #d3d3d3;
    bottom: 0 !important;
    min-height: 180px;
}

    footer > div > div > article > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        footer > div > div > article > ul > li {
            padding-bottom: 5px;
            padding-right: 5px;
        }

form1 {
    background-image: url('../img/calidad.png');
}

#afFooter {
    background: #000000;
    border-top: 1px solid #2d75c2;
    min-height: 25px;
    text-align: center;
    color: rgba(173,168,173,1);
}



/*@media screen and (min-width:350){
    .Title
    {
        background-image:url('../img/banner/banner7.png');
    }
}*/


.Title {
    /*background-image: url('../img/banner/banner22.png');
    background-size: 100%;*/
    text-align: center;
   /**/ /*background-position: center;*/
}

/*@media screen and (max-width:348) {
    #afFooter {
        height: 50px !important;
    }
}*/

/*@media screen and (min-width: 250px ) {

    .Title {
        background-image: url('../img/banner/banner6.png');
       
    }
}

@media screen and (min-width: 560px ) {

    .Title {
        background-image: url('../img/banner/banner5.png');
       
    }
}

@media screen and (min-width: 992px ) {

    .Title {
        background-image: url('../img/banner/banner4.png');
      
    }
}

@media screen and (min-width: 1200px ) {
    .Title {
        background-image: url('../img/banner/banner3.png');
        
    }
}*/
