/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  #portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .recent-work-wrap .recent-work-inner h3 a {
    font-size: 20px;
  }

  .recent-work-wrap .overlay{
    padding: 15px;
  }

  .services-wrap {
    padding: 40px 10px 40px 30px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }

  .tab-wrap .media .parrent.pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body{
    clear: both;
  }

  #portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .recent-work-wrap .overlay .preview{
    line-height: inherit;
  }

  .team-bar .first-arrow {
    width: 21%;
  }

  .team-bar .second-arrow {
    width: 20%;
  }

  .team-bar .third-arrow {
    width: 21%;
  }

  .team-bar .fourth-arrow {
    width: 20%;
  }

  ul.social_icons li{
    margin-right: 0;
  }
  
  .borde_graf
  {
    width:100%;
    border:1px solid #ccc;
    padding:20px;
    margin:auto;
  }
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 20px;
  }

  .tab-wrap .media .parrent.pull-left, 
  .media.accordion-inner .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body, 
  .media.accordion-inner .media-body{
    clear: both;
  }

  .services-wrap {
    padding: 40px 0 40px 30px;
  }

  .recent-work-wrap .overlay{
   padding: 15px;
  }

  .recent-work-wrap .recent-work-inner h3 a {
    font-size: 20px;
  }

  .sinlge-skill{
    width: 150px;
    height: 150px;
  } 

  .sinlge-skill p em {
    font-size: 25px;
  }

  .sinlge-skill p {
    font-size: 16px;
  }

  .team-bar .first-one-arrow {
    width: 2%;
  }

  .team-bar .first-arrow {
    width: 18%;
  }

  .team-bar .second-arrow {
    width: 24%;
  }

  .team-bar .third-arrow {
    width: 15%;
  }

  .team-bar .fourth-arrow {
    width: 20%;
  }

  .blog .blog-item .entry-meta > span a{
    font-size: 10px;
  }  
}

/* xs */
@media (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }

  .top-number{
    font-size: 14px;
  }

  input.search-form:hover {
    width: 120px;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 16px;
  }

  .feature-wrap h2, 
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3, 
  .single-services h3{
    font-size: 14px;
  }


  .media.accordion-inner .pull-left, 
  .media.accordion-inner .media-body{
    clear: both;
  }

  .accordion-inner h4 {
    margin-top: 10px;
  }

  .tab-wrap .media .pull-left{
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .media-body{
    clear: both;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }

  .sinlge-skill {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .team .single-profile-top, 
  .team .single-profile-bottom {
    margin-bottom: 30px;
  }

  .clients-area {
    padding: 60px 0;
  }

  .clients-area h1 {
    font-size: 25px;
  }

  .portfolio-item, 
  #recent-works .col-xs-12.col-sm-4.col-md-3{
    padding:0 15px;
  }

  ul.social_icons li{
    margin-right: 0;
  }

  .blog .blog-item .entry-meta{
    margin-bottom: 20px;
  }

  .blog .blog-item .blog-content h3 {
    margin-bottom: 20px;
  }

  .post_reply_comments {
    padding-left: 20px;
  }
 
  .body_login .box_login
    {
	    background-color:#fff;
	    width:100% !important;
	    margin:0 auto;
	    border:1px solid #d9d9d9;
	    border-top:5px solid #4d7496; 
    }
  .body_login .box_login .box_content
    {
        padding:10px 20px 15px !important;          
    }
    
    .login td input[type="password"], .login td input[type="text"]
    {
       /* margin-bottom:10px !important;
        width:90% !important;*/
    }
    
    #search_panel
    {
    margin: 50px auto 0px !important;
    width:100% !important;
    }
    .izq, .cent, .der
    {
        display: inline !important;
        height:auto !important;
    }
    .Title
    {
    margin-bottom:10px !important;        
    }
    .Title h1, .Title h2
    {
    font-size:20px !important;
    }
    .menu
    {
    float:left;
    margin-left:10px !important;
    display:none !important;
    }
    
    #boton
    {
        margin-top:5px !important;
    }
    .user_options
    {
    margin-right:10px;
    text-align:center;
    float:none !important;
    }
    
    .box_login
    {
    width:100% !important;    
    }
    
    .boton_search
    {
     margin-bottom:0px !important;
    }
    .info
    {
    width:100% !important;
    margin-top:10px !important;  
    margin-left: 0px !important;
    text-align:center !important;
    margin-bottom:20px;
    } 
    .info_ord
    {
       font-size:12px !important;
    }
    #ContentPlaceHolder2_gridView2
    {
    width:100% !important;    
    }
    #ContentPlaceHolder2_gridView2 tbody tr th, #ContentPlaceHolder2_gridView2 tbody tr td
    {
    text-align:center !important;    
    }
    label
    {
    font-weight:normal !important;
    }
    
    .tabla
    {
    margin-bottom:20px !imporatnt;
    }
    
    .footable > thead > tr > th, .footable > thead > tr > td {
    position: relative;
}

.footable {
    border-spacing: 0;
    width: 100%;
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: 'trebuchet MS','Lucida sans',Arial;
    font-size: 12px;
    color: #444;
}

    .footable.breakpoint > tbody > tr > td.expand {
        background: url(/img/plus.png) no-repeat 5px center;
        padding-left: 40px;
    }

    .footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
        background: url(/img/minus.png) no-repeat 5px center;
    }

    .footable.breakpoint > tbody > tr.footable-row-detail {
        background: #eee;
    }

    .footable > tbody > tr:hover {
        background: #fbf8e9;
    }

    .footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
        cursor: pointer;
    }

    .footable > tbody > tr > td, .footable > thead > tr > th {
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 5px;
        text-align: center;
    }

    .footable > thead > tr > th, .footable > thead > tr > td {
        background-color: #dce9f9;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#ebf3fc),to(#dce9f9));
        background-image: -webkit-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: -moz-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: -ms-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: -o-linear-gradient(top,#ebf3fc,#dce9f9);
        background-image: linear-gradient(to bottom,#ebf3fc,#dce9f9);
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        border-top: 0;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

        .footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {
            -moz-border-radius: 6px 0 0;
            -webkit-border-radius: 6px 0 0;
            border-radius: 6px 0 0;
        }

        .footable > thead > tr > th:last-child, .footable > thead > tr > td:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .footable > thead > tr > th:only-child, .footable > thead > tr > td:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .footable > tbody > tr:last-child > td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    .footable > tbody > tr:last-child > td:last-child {
        -moz-border-radius: 0 0 6px;
        -webkit-border-radius: 0 0 6px;
        border-radius: 0 0 6px;
    }

    .footable > tbody img {
        vertical-align: middle;
    }

}

/* XS Portrait */
@media (max-width: 480px) {


}

