﻿<%@ Master Language="C#" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sistema de Control Auditores</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/bootstrap/js/jquery.js"></script>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato" />
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />

    <link href="/font-awesome/fonts.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css" />
    <script src="/sweetalert-master/dist/sweetalert.min.js"></script>

    <link rel="/img/" href="AuditIco.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/AuditIco.ico" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        $(document).ready(function () {            
            var fecha = new Date();
            var anio = fecha.getFullYear();
            var copyRight = `Copyright © ${anio} Rocedes. All rights reserved.`;

            $("#spanCopy").text(copyRight);
        });

        function erroralert() {
            swal({
                title: 'Ups!',
                text: 'Intentelo Nuevamente',
                type: 'error'
            });
        }
    </script>

    <script type="text/javascript">
        function bultomalo() {
            swal({
                title: '!Bulto Rechazado!',
                text: 'Este bulto aun contiene defectos, favor revisar',
                type: 'error'
            });
        }
    </script>

    <script type="text/javascript">
        function fechaalert() {
            swal({
                title: '!Rango de Fecha Incorrecto!',
                text: 'El rango de fecha no puede ser mayor a una semana',
                type: 'error'
            });
        }
    </script>

</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <div class="Title">
            <div id="headerP">
                <a href="../Default.aspx">
                    <img src="../img/logo1.png" alt="logo" class="r" />
                </a>
                <asp:ContentPlaceHolder ID="ContentTitulo" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>


        <style>
            @media screen and (max-width: 767px) {
                .centero {
                    text-align: center !important;
                }
            }
        </style>

        <div class="container-fluid quitarpadd-iz-der  contenedor-Menu">
            <div class="containe">
                <nav class="navbar navbar-inverse quitmarginbottom">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Default.aspx">Rocedes</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <asp:LinkButton ID="LinkButton2" runat="server" CausesValidation="False" OnClick="LinkButton2_Click">Home</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LinkButton4" runat="server" CausesValidation="False" OnClick="LinkButton4_Click" Visible="false">Buscar</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkreportes" runat="server" CausesValidation="False" Visible="False" OnClick="lnkreportes_Click">Reportes</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LinkButton6" runat="server" CausesValidation="False" OnClick="LinkButton6_Click" Visible="true">Medidas</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LinkButton7" runat="server" CausesValidation="False" OnClick="LinkButton7_Click" Visible="true">Asignar línea</asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="LinkButton8" runat="server" CausesValidation="False" OnClick="LinkButton8_Click" Visible="true">Asignar Comentario </asp:LinkButton></li>
                                <li>
                                    <asp:LinkButton ID="lnkPackList" runat="server" CausesValidation="False" OnClick="lnkPackList_Click" Visible="true">Lista de Empaque</asp:LinkButton>
                                </li>
                                <li>
                                    <asp:LinkButton ID="lnkinfo2" runat="server" CausesValidation="False" OnClick="lnkinfo2_Click" Visible="true">Producción</asp:LinkButton>
                                </li>

                                <li>
                                    <asp:LinkButton ID="lnkEnvios" runat="server" CausesValidation="False" OnClick="lnkEnvios_Click" Visible="true"> Envios </asp:LinkButton></li>

                                <li class="dropdown" runat="server" id="Li1">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Otros Envíos<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="lnkEnviosXBulto" runat="server" CausesValidation="False" OnClick="lnkEnviosXBulto_Click" Visible="true">Envios X Bultos </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkEnviosSeccionados" runat="server" CausesValidation="False" OnClick="lnkEnviosSeccionados_Click" Visible="true">Envios Seccionados</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkExcepcion" runat="server" CausesValidation="False" OnClick="lnkExcepcion_Click" Visible="true"> Envios Excepcion</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkcom" runat="server" CausesValidation="False" OnClick="lnkcom_Click" Visible="true">Inventario en Planta</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkExceso" runat="server" CausesValidation="False" OnClick="lnkExceso_Click" Visible="true">Ingreso de Exceso Und.</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkcontenedor" runat="server" CausesValidation="False" OnClick="lnkcontenedor_Click" Visible="true">Contenedor Embarque</asp:LinkButton>
                                        </li>

                                    </ul>
                                </li>


                                <li class="dropdown" runat="server" id="lnkprod">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporte Planta<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="lnkbio" runat="server" CausesValidation="False" OnClick="lnkbio_Click" Visible="true"> Bihorario </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkbihoprod" runat="server" CausesValidation="False" OnClick="lnkbihoprod_Click" Visible="true"> Bihorario Produccion</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkpl" runat="server" CausesValidation="False" OnClick="lnkpl_Click" Visible="true"> Packing List </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkweek" runat="server" CausesValidation="False" OnClick="lnkweek_Click" Visible="true"> Week Report </asp:LinkButton></li>
                                    </ul>
                                </li>

                                <li class="dropdown" runat="server" id="adminLink">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="LinkButton5" runat="server" CausesValidation="False" OnClick="LinkButton5_Click" Visible="False">Administrar Operario</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="LinkButton3" runat="server" CausesValidation="False" OnClick="LinkButton3_Click" Visible="true">Administrar Estilos</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkUserLine" runat="server" CausesValidation="False" OnClick="lnkUserLine_Click" Visible="true">Usuario línea</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="LinkLine" runat="server" CausesValidation="False" OnClick="LinkLine_Click" Visible="true">Administrar líneas</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkEspecificacion" runat="server" CausesValidation="False" OnClick="lnkEspecificacion_Click" Visible="true">Especificación</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkEspecificacion2" runat="server" CausesValidation="False" OnClick="lnkEspecificacion2_Click" Visible="true">Subir Excel de Especificación</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnk" runat="server" CausesValidation="false" OnClick="lnk_Click" Visible="true">Producción</asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnk2" runat="server" CausesValidation="false" OnClick="lnk2_Click" Visible="true">Producción 2</asp:LinkButton>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown" runat="server" id="lavanderiaL">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporte Lavanderia<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="lnk1" runat="server" CausesValidation="False" OnClick="lnk1_Click" Visible="true"> Envios Generales </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnk4" runat="server" CausesValidation="False" OnClick="lnk4_Click" Visible="true"> Out Sew Not Send </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnk5" runat="server" CausesValidation="False" OnClick="lnk5_Click" Visible="true"> Reporte Envio - No Envio </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnk6" runat="server" CausesValidation="False" OnClick="lnk6_Click" Visible="true"> Administración de Envios </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnk7" runat="server" CausesValidation="False" OnClick="lnk7_Click" Visible="true"> Week Report S.S.N.S. </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkcommrep" runat="server" CausesValidation="False" OnClick="lnkcommrep_Click" Visible="true"> Reporte Inventario en Planta </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkHistoricoPross" runat="server" CausesValidation="False" OnClick="lnkHistoricoPross_Click" Visible="true"> Reporte Historico X Proceso </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkdev" runat="server" CausesValidation="False" OnClick="lnkdev_Click" Visible="true"> Reporte Devolucion </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkemabrque" runat="server" CausesValidation="False" OnClick="lnkemabrque_Click" Visible="true"> Reporte Contenedor Embarque </asp:LinkButton></li>

                                    </ul>
                                </li>

                                <li class="dropdown" runat="server" id="intexl">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporte Intex<span class="caret"></span> </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="lnkintex1" runat="server" CausesValidation="False" OnClick="lnkintex1_Click" Visible="true"> Bihorario Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkintex2" runat="server" CausesValidation="False" OnClick="lnkintex2_Click" Visible="true"> Packing List Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkintex3" runat="server" CausesValidation="False" OnClick="lnkintex3_Click" Visible="true"> Week Report Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkhist" runat="server" CausesValidation="False" OnClick="lnkhist_Click" Visible="true"> Reporte Historico Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="openCutint" runat="server" CausesValidation="False" OnClick="openCutint_Click" Visible="true"> Open / Close - Cut </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="linkAdminIntex" runat="server" CausesValidation="False" OnClick="linkAdminIntex_Click" Visible="true"> Administración de Envios Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkrepsec" runat="server" CausesValidation="False" OnClick="lnkrepsec_Click" Visible="true"> Actulizar Datos Secado Intex </asp:LinkButton>
                                        </li>
                                         <li>
                                            <asp:LinkButton ID="lnkbs" runat="server" CausesValidation="False" OnClick="lnkbs_Click" Visible="true"> Bihorario Secado Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkauditsecado" runat="server" CausesValidation="False" OnClick="lnkauditsecado_Click" Visible="true"> Reporte de Auditoria Secado </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkenviosecado" runat="server" CausesValidation="False" OnClick="lnkenviosecado_Click" Visible="true"> Envios Secado </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkprocesos" runat="server" CausesValidation="False" OnClick="lnkprocesos_Click" Visible="true"> Reporte Procesos Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkbihoraroenviado" runat="server" CausesValidation="False" OnClick="lnkbihoraroenviado_Click" Visible="true"> Bihorario Envio a Medida </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkpacklistIntex" runat="server" CausesValidation="False" OnClick="lnkpacklistIntex_Click" Visible="true"> Packin List Secado - Medida </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkinvIntex" runat="server" CausesValidation="False" OnClick="lnkinvIntex_Click" Visible="true"> Inventario Intex </asp:LinkButton>
                                        </li>
                                        <li>
                                            <asp:LinkButton ID="lnkupdAudit" runat="server" CausesValidation="False" OnClick="lnkupdAudit_Click" Visible="true"> Update Auditoria Intex </asp:LinkButton>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown" runat="server" id="lnkentallado">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reporte Entallado<span class="caret"></span> </a>
                                    <ul class="dropdown-menu">
                                        <%--Menu--%>
                                        <li>
                                            <asp:LinkButton ID="lnktalla" runat="server" CausesValidation="False" OnClick="lnktalla_Click" Visible="true"> Reporte Por Talla </asp:LinkButton>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown" runat="server" id="lnkpack">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empaque <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="lnkpck" runat="server" CausesValidation="False" OnClick="lnkpck_Click" Visible="true"> Reporte Empaque Bihorario </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkpckXfecha" runat="server" CausesValidation="False" OnClick="lnkpckXfecha_Click" Visible="true"> Reporte Empaque box </asp:LinkButton></li>

                                        <li>
                                            <asp:LinkButton ID="lnkadmins" runat="server" CausesValidation="False" OnClick="lnkadmins_Click" Visible="true"> Administracion Empaque </asp:LinkButton></li>

                                        <li>
                                            <asp:LinkButton ID="lnkreportC" runat="server" CausesValidation="False" OnClick="lnkreportC_Click" Visible="true"> Reporte Empacado Cliente </asp:LinkButton></li>

                                        <li>
                                            <asp:LinkButton ID="lnkgrafico" runat="server" CausesValidation="False" OnClick="lnkgrafico_Click" Visible="true"> Reporte Grafico Empacado </asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkreproceso" runat="server" CausesValidation="False" OnClick="lnkreproceso_Click" Visible="true"> Reporte Bihorario Reproceso </asp:LinkButton></li>

                                    </ul>
                                </li>

                                <li class="dropdown" runat="server" id="pro">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Procesos<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="lnkproc1" runat="server" CausesValidation="False" OnClick="lnkproc1_Click" Visible="true">Reproceso Plancha</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkproc2" runat="server" CausesValidation="False" OnClick="lnkproc2_Click" Visible="true">Heat Transfer</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkenv1" runat="server" CausesValidation="False" OnClick="lnkenv1_Click" Visible="true">Envio Reproceso Plancha</asp:LinkButton></li>
                                        <li>
                                            <asp:LinkButton ID="lnkenv2" runat="server" CausesValidation="False" OnClick="lnkenv2_Click" Visible="true">Envio Heat Transfer</asp:LinkButton></li> 

                                        <li>
                                            <asp:LinkButton ID="rci" runat="server" CausesValidation="False" OnClick="rci_Click" Visible="true">Recepción de Cortes Intex </asp:LinkButton>
                                        </li>     

                                    </ul>
                                </li>

                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#"><span id="cal_ico" class="fa fa-calendar color-Texto-M"></span>
                                        <asp:Label ID="lbldate" runat="server" Text="" CssClass="color-Texto-M"></asp:Label></a>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                                        <span class="fa fa-male color-Texto-M"></span>
                                        <asp:Label ID="lblUName" runat="server" Text=""></asp:Label>
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click" CausesValidation="False">  <span class="fa fa-power-off "></span>Cerrar Sesión</asp:LinkButton>
                                            <%--<ajaxToolkit:ConfirmButtonExtender ID="LinkButton1_ConfirmButtonExtender"
                                                runat="server" ConfirmText="Desea Salir del Sistema?"
                                                TargetControlID="LinkButton1" />--%>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>


        <section>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
        </section>

        <footer class="container-fluid ">
            <div class="container">
                <div class="row">
                    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <h3>Rocedes</h3>
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-phone-alt"></span>2335-2323
                            </li>
                            <li>Direccion:km 12.5 Cta. Norte
                                Parque Industrial las Mercedes.
                            </li>
                        </ul>
                    </article>
                    <article id="footer-Center" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <img src="/img/calidad.png" class="center-block" width="180" alt="CALIDAD" />
                    </article>
                    <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <h3 class="pull-right">Sistema de Auditoria</h3>
                        <ul class="pull-right ">
                            <li>
                                <span>Construido por el equipo de Desarrollo de Rocedes. </span>
                            </li>
                            <li></li>
                            <li></li>
                        </ul>
                    </article>
                </div>
            </div>
        </footer>

        <div id="afFooter" class="container-fluid">
            <span class="text-capitalize" id="spanCopy">
            </span>
        </div>

        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </form>
</body>
</html>


