﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="SelectAudit.aspx.cs" Inherits="SelectAudit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentTitulo" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<br /><br /><br />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

    <asp:Button ID="Button1" runat="server" Text="In Line Audit" Width="150" 
        Height="150" onclick="Button1_Click" />
        &nbsp;&nbsp;
    <asp:Button ID="Button2" runat="server" Text="Bundle x Bundle" Width="150" 
        Height="150" onclick="Button2_Click"/>
        &nbsp;&nbsp;
    <asp:Button ID="Button3" runat="server" Text="Shipping Audit" Width="150" 
        Height="150" onclick="Button3_Click"/>
        &nbsp;&nbsp;
     <asp:Button ID="Button4" runat="server" Text="Help Audit" Width="150" 
        Height="150" onclick="Button4_Click"/>
</asp:Content>

