﻿body {
}

.pad-0_marr-15
{
  padding-left:0px !important;
  padding-right:15px !important;
 /* margin-right:15px;*/

}
.backcolorheadergrid {
    background-color: #0E70C1 !important;
    color: #f5f5f5;
}

.backcolorheadergrid2 {
    background-color: #4DC067 !important;
    color: #f5f5f5;
}

.pt {
    padding-top: 1.3em;
}


section > div > article {
    padding: 0px;
    margin-top: 5px;
}

    section > div > article > h3 {
        margin-top: 0px;
        padding-top: 10px;
        border: 1px solid #e1e1e1;
        border-top: 0px !important;
    }

    section > div > article > h4 {
        padding-top: 10px;
        margin-top: 0px;
        margin-bottom:0px;
        border-radius: 5px 5px 0px 0px
    }


/*clases css para autocompletado*/
.CompletionList {
    padding: 5px 0;
    margin: 2px 0 0;
    height: 100px;
    overflow: auto;
    position: absolute;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: White;
    cursor: pointer;
}

.CompletionListItem {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}


.CompletionListHighlightedItem {
    color: #ffffff;
    padding: 3px 20px;
    text-decoration: none;
    background-color: #0081c2;
    background-repeat: repeat-x;
    outline: 0;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
}
/*******************************/


/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.withB3 {
    width: 50px !important;
    height: 50px !important;
    display: inline-block;
    margin: 3px;
}

.withB {
    width: 60px !important;
    height: 60px !important;
    display: inline-block;
    margin: 3px;
}

@media (min-width: 650px) {

    .withB3 {
        width: 70px !important;
        height: 70px !important;
        display: inline-block;
        margin: 3px;
    }

    .withB {
        width: 70px !important;
        height: 70px !important;
        display: inline-block;
        margin: 3px;
    }
}

@media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
        width: 750px;
    }

    .withB {
        width: 70px !important;
        height: 70px !important;
        display: inline-block;
        margin: 3px;
    }

    .withB3 {
        width: 70px !important;
        height: 70px !important;
        display: inline-block;
        margin: 3px;
    }
}

/*@media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
        width: 700px;
    }

   
}

@media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
        width: 700px !important;
    }

   
}*/

.classLabel {
    color: #0A97D4 !important;
    font-family: Consolas;
    font-size: 26px;
    border-bottom: 1px solid #C0C7CA;
    padding: 2.5px;
}


.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #1e90ff;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #1e90ff;
            background-color: #f5f5f5;
            border-color: #dddddd;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #1e90ff;
            background-color: #eeeeee;
            border-color: #dddddd;
        }
