﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="NewReport2.aspx.cs" Inherits="adminRepMedidasNuevos_NewReport2" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<%@ Register Assembly="DevExpress.XtraCharts.v16.2.Web, Version=16.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraCharts.Web" TagPrefix="dxchartsui" %>

<%@ Register Assembly="DevExpress.Web.v16.2, Version=16.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>

<%@ Register Assembly="DevExpress.XtraCharts.v16.2, Version=16.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraCharts" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">

    <script lang="javascript" type="text/javascript">
        $(function () {
            $('#<%=txtcorte.ClientID%>').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "../Medida.aspx/GetPorder",
                        data: "{'pre' :'" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data.d, function (item) {
                                return {
                                    porder: item.porder,
                                    idorder: item.idorder,
                                    style: item.style,
                                    json: item
                                }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                },
                focus: function (event, ui) {
                    $('#<%=txtcorte.ClientID%>').val(ui.item.porder);
                    return false;
                },
                select: function (event, ui) {
                    $('#<%=txtcorte.ClientID%>').val(ui.item.porder);
                    $('#<%=hdnidcorte.ClientID%>').val(ui.item.idorder);
                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                return $("<li  >")
                    .append("<a class='text-info ' style='padding-left:30px;' >" + item.porder + "</a>").appendTo(ul);
            };
        });
    </script>

    <script lang="javascript" type="text/javascript">
        $(function () {
            $('#<%=txtstyle.ClientID%>').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "ReportMedidaEmpaque.aspx/GetStyle",
                        data: "{'pref' :'" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data.d, function (item) {
                                return {
                                    estilo: item.estilo,

                                    json: item
                                }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                },
                focus: function (event, ui) {
                    $('#<%=txtstyle.ClientID%>').val(ui.item.estilo);

                    return false;
                },
                select: function (event, ui) {
                    $('#<%=txtstyle.ClientID%>').val(ui.item.estilo);

                    return false;
                }
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                return $("<li  >")
                    .append("<a class='text-info ' style='padding-left:30px;' >" + item.estilo + "</a>").appendTo(ul);
            };
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('#<%=txtfecha1.ClientID%>').datepicker({
                    dateFormat: "dd/mm/yy"
                })

            })

            $(function () {
                $('#<%=txtfecha2.ClientID%>').datepicker({
                    dateFormat: "dd/mm/yy"
                })

            })

        });

    </script>

    <script src="../jquery-1.9.1.js"></script>
    <script src="../jquery-ui.js"></script>
    <link href="../jquery-ui.css" rel="stylesheet" />

    <link href="../css/font-awesome.css" rel="stylesheet" />

    <style>
        @media (min-width: 300px) and (max-width: 600px) {
            .ancho {
                width: 30%;
                overflow: visible;
            }
        }
    </style>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentTitulo" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <br />
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Measurement Report </strong></h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <asp:HiddenField runat="server" ID="hdnidcorte" />
                        Cut:
                         <div class="input-group">
                             <span class="input-group-btn">
                                 <asp:LinkButton Text="" OnClick="lnkCorte_Click" CssClass="btn btn-default" ID="lnkCorte" runat="server"><i class="fa fa-search" aria-hidden="true"></i> </asp:LinkButton>
                             </span>
                             <div class="ui-widget" style="text-align: left;">
                                 <asp:TextBox ID="txtcorte" placeholder="Cut" class="textboxAuto text-info form-control" Font-Size="14px" runat="server"></asp:TextBox>
                             </div>
                         </div>

                        Style:
                         <div class="input-group">
                             <span class="input-group-btn">
                                 <asp:LinkButton Text="" OnClick="LinkButton1_Click" CssClass="btn btn-default" ID="LinkButton2" runat="server"><i class="fa fa-search" aria-hidden="true"></i> </asp:LinkButton>
                             </span>
                             <div class="ui-widget" style="text-align: left;">
                                 <asp:TextBox ID="txtstyle" placeholder="Style" class="textboxAuto text-info form-control" Font-Size="14px" runat="server"></asp:TextBox>
                             </div>
                         </div>
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading">Select search filter</div>
                            <div class="panel-body">
                                Start Date
                         <div class="input-group">
                             <i class="input-group-addon fa fa-calendar-o" aria-hidden="true"></i>
                             <asp:TextBox ID="txtfecha1" CssClass="form-control" runat="server"></asp:TextBox>
                         </div>
                                End Date                          
                         <div class="input-group">
                             <i class="input-group-addon fa fa-calendar-o" aria-hidden="true"></i>
                             <asp:TextBox ID="txtfecha2" CssClass="form-control" runat="server"></asp:TextBox>
                         </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div style="padding-top: 20px">
                            <asp:Button Text="Generate Report" CssClass="btn btn-primary form-control" ID="Button1" OnClick="btngenerar_Click" runat="server" />
                        </div>

                        <div style="padding-top: 20px">
                            <asp:Button ID="btnexport" CssClass="btn btn-success form-control" runat="server" Text="Export Excel" OnClick="btnexport_Click" />
                        </div>

                        <div style="padding-top: 20px">
                            <asp:Button Text="Limpiar Formulario" CssClass=" btn btn-info form-control" ID="Button2" OnClick="btnclean_Click" runat="server" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    </div>
                    <dx:ASPxGridViewExporter ID="ASPxGridViewExporter1" runat="server"></dx:ASPxGridViewExporter>

                </div>

                <%--Empieza--%>
                <div class="col-lg-12" style="padding-top: 10px">
                    <dx:ASPxGridView ID="grid1" runat="server" Width="100%" Theme="Metropolis" AutoGenerateColumns="False" OnDataBinding="grid1_DataBinding" OnCustomCallback="grid1_CustomCallback">
                        <Columns>
                            <dx:GridViewDataDateColumn FieldName="POrder" Width="100" />
                            <dx:GridViewDataDateColumn FieldName="Style" Width="100" />
                            <dx:GridViewDataDateColumn FieldName="Talla" Width="100" />
                            <dx:GridViewDataDateColumn FieldName="NombreMedida" Width="100" />
                            <dx:GridViewDataTextColumn FieldName="Estatus" Width="100" />                           
                        </Columns>
                        <Settings VerticalScrollableHeight="300" VerticalScrollBarMode="Visible" />
                        <SettingsPager PageSize="20">
                            <PageSizeItemSettings Visible="true" ShowAllItem="true" />
                        </SettingsPager>
                    </dx:ASPxGridView>
                </div>

            </div>
        </div>
    </div>

    <aside class="modal fade" id="ventanaG">
        <div class="modal-dialog">
            <div class="modal-content">
                <article class="modal-header">
                    <button id="cerrarG" class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
                    <h4>Estilos Ingresados en la Semana </h4>
                </article>
                <article class="modal-body">
                    <asp:GridView runat="server" HeaderStyle-BackColor="#337ab7" HeaderStyle-ForeColor="White" CssClass="table  table-hover table-striped " ID="grvestilos">
                    </asp:GridView>
                </article>
            </div>
        </div>
    </aside>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
</asp:Content>

